In [1]:
PHONE_NUMBER = 9614929765

In [2]:
phno = [i for i in str(PHONE_NUMBER)]

In [3]:
phno

['9', '6', '1', '4', '9', '2', '9', '7', '6', '5']

In [4]:
import pandas as pd

df = pd.DataFrame(columns=['Iterate', 'Status'])

In [5]:
df

Empty DataFrame
Columns: [Iterate, Status]
Index: []

In [6]:

for i in range(5):
    dic = []
    dic.append(i+1)
    dic.append('Pass')
    df.loc[len(df.index)] = dic
    print('done')
df

done
done
done
done
done

   Iterate Status
0        1   Pass
1        2   Pass
2        3   Pass
3        4   Pass
4        5   Pass

In [7]:
writer = pd.ExcelWriter("dataframe.xlsx", engine='xlsxwriter')
df.to_excel(writer,sheet_name = 'sheet1', index=False)
writer.save()

In [20]:
df = pd.read_excel("wifi_test_log.xlsx", index_col=False)

In [21]:
df

    Iterate        Date   On_Time  Off_Time Status
0         1  11/10/2022  00:59:35  00:59:48   Pass
1         2  11/10/2022  00:59:52  01:00:05   Pass
2         3  11/10/2022  01:00:08  01:00:21   Pass
3         4  11/10/2022  01:00:25  01:00:38   Pass
4         5  11/10/2022  01:00:41  01:00:54   Fail
5         6  11/10/2022  01:00:58  01:01:11   Pass
6         7  11/10/2022  01:01:15  01:01:28   Pass
7         8  11/10/2022  01:01:31  01:01:44   Pass
8         9  11/10/2022  01:01:48  01:02:01   Pass
9        10  11/10/2022  01:02:05  01:02:18   Fail
10       11  11/10/2022  01:02:21  01:02:34   Pass
11       12  11/10/2022  01:02:38  01:02:51   Pass
12       13  11/10/2022  01:02:55  01:03:08   Fail
13       14  11/10/2022  01:03:11  01:03:24   Pass
14       15  11/10/2022  01:03:28  01:03:41   Pass
15       16  11/10/2022  01:03:45  01:03:58   Pass
16       17  11/10/2022  01:04:02  01:04:15   Pass
17       18  11/10/2022  01:04:18  01:04:31   Pass
18       19  11/10/2022  01:04:35  01:04:48   Fail
19       20  11/10/2022  01:04:52  01:05:05   Pass

In [22]:
status = list(df['Status'])

In [18]:
type(status)

list

In [23]:
p_count = status.count('Pass')
f_count = status.count('Fail')

In [24]:
p_count

16

In [25]:
f_count

4

In [27]:
chr(45)

'-'

In [31]:
ord('s')-96

19

In [29]:
ord('A')

65

In [33]:
search = 'settings'
for i in search:
    code = 29 + (ord('s') - 97)
    print(code)

47
47
47
47
47
47
47
47